<div class="">
    <h1>{{title}}</h1>
    <input name="myNum" id="field__number" type="text" placeholder="Phone Number" />
    <input name="myPass" id="field__password" type="password" placeholder="Password" />
    <button type="button" id="button__send">Send</button>
</div>

<script type="text/javascript" src="/javascripts/admin.js"></script>